form {
   display: flex;

   input {
      height: 3rem;
      border: 0;
      background: rgb(238, 238, 238);
      padding-left: 1rem;
      font-size: 1.5rem;

      &:focus {
         outline: none;
      }
   }

   button {
      display: flex;
      align-items: center;
      background: rgb(238, 238, 238);
      border: 0;
      font-size: 2rem;
      padding: 0 1rem;
      transition: .2s;
      color: #679897;

      &:hover {
         color: #E97C29;
      }
   }

   select {
      width: 7rem;
      margin-left: 1rem;
   }
}
