.button{
   padding: .5rem 1rem;
   border-radius: .25rem;
   border: none;
   transition:  background .2s;

   display: flex;
   align-items: center;
   gap: 1rem;

   &:hover{
      filter: brightness(.9);
   }
}