.hero {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 4rem;
   align-items: center;

   h1 {
      font-size: 2.25rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-bottom: 1rem;

      span {
         color: var(--green);
      }
   }

   p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: var(--first-color-hover);
   }
}

.content1 {
   background: var(--bg-box);

   > div {
      padding: 5rem 0;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      color: var(--first-color);
   }
}
