#search {
   .description {
      margin-bottom: 2rem;
   }

   form {
      display: grid;
      grid-template-columns: 1fr 40% auto;

      input {
         border: none;
         border-radius: 5px 0 0 5px;
         font-size: 1.25rem;
         padding: 0 1rem;

         &:focus{
            outline: none;
            filter: brightness(.9);
         }
      }

      .selected {
         color: var(--bg-collor);

         > div {
            border-radius: 0;

            > div > div {
               height: 3rem;
               display: flex;
               align-items: center;
            }
         }
      }

      button {
         width: 4rem;
         border: none;
         border-radius: 0 5px 5px 0;

         display: flex;
         justify-content: center;
         align-items: center;
         background: var(--green);

         color: var(--text-color-ligh);

         &:hover {
            filter: brightness(0.9);
         }
      }
   }

   .alert {
      margin-top: 1rem;
   }
}
