.section{
   padding: 0;
}

.role{
   display: grid;
   grid-template-columns: 30% 70%;
   margin-bottom: 1.5rem;
   gap: 2rem;
}

h4{
   color: var(--first-color);
   opacity: .7;
   text-transform: uppercase;
   font-size: .875rem;
   font-weight: 400;
}

.crew{
   font-size: .825rem;
   display: inline-block;
   margin: 0.2rem .2rem;
   background-color: #303840;
   color: var(--first-color);
   padding: .3rem .5rem;
   border-radius: 3px;
}

.crew:hover{
   color: var(--first-color-hover);
}