.details{
   margin-bottom: 2rem;
}

.role{
   display: grid;
   grid-template-columns: 30% 70%;
   margin-bottom: 1.5rem;
   gap: 2rem;
}

.info{
   font-size: .825rem;
   display: inline-block;
   margin: 0.2rem .2rem;
   background-color: #303840;
   color: var(--first-color);
   padding: .3rem .5rem;
   border-radius: 3px;
}

.info:hover{
   color: var(--first-color-hover);
}