.header {
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   position: fixed;
   width: 100%;
   z-index: 100;
   background-color: var(--bg-collor);
   top: 0;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 5rem;
}

.logo img {
   width: 250px;
   margin-left: -15px;
}

.menu {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.menu a{
   font-weight: 700;
   font-size: .875rem;
   text-transform: uppercase;
   color: var(--first-color);
}

.menu a:hover{
   color: var(--first-color-hover);
}
